aiohttp==2.0.5
aiohttp-jinja2==0.13.0
async-timeout==1.2.0
chardet==2.3.0
Jinja2==2.9.6
MarkupSafe==1.0
multidict==2.1.4
py==1.4.33
PyJWT==1.4.2
pytest==3.0.7
pytest-aiohttp==0.1.3
python-engineio==1.3.1
python-socketio==1.7.4
six==1.10.0
SQLAlchemy==1.1.9
yarl==0.10.0
