<!DOCTYPE html>
<html>
  <head>
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h2>404 - page not found</h2>
      <p>This page does not exist</p>
      <img src="/static/img/404_wikimedia_empty_box.jpg" alt="an empty box" style="width: 80%;" />
      <br>
    </div>
  </body>
</html>