<!DOCTYPE html>
<html>
  <head>
    <title>500</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h2>500 - internal server error!</h2>
      <p>Live repair stream:</p>s
      <img src="/static/img/500_priests_fire.jpg" alt="priest estinguishing a fire" style="width: 80%;"/>
      <br>
    </div>
  </body>
</html>